@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "Home";
}
<section class="jumbort">
    <div class="container"> 
        <h1>Welcome to Book Shop</h1>
        <p class="lead text-muted">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            , when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">

       @await Component.InvokeAsync("TopBooks",new{count=2})
        
    </div>
</div>