@model BookShop.Models.BookModel

@{
    ViewData["Title"] = "UpdateBookById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<hr />
<div class="container">
    <h1>Update Book Information</h1>
    <form asp-action="UpdateBookById">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" disabled />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author" class="control-label"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control" disabled />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalPage" class="control-label"></label>
            <input asp-for="TotalPage" class="form-control" />
            <span asp-validation-for="TotalPage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LanguageId" class="control-label"></label>
            <input asp-for="LanguageId" class="form-control" disabled />
            <span asp-validation-for="LanguageId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LanguageName" class="control-label"></label>
            <input asp-for="LanguageName" class="form-control" disabled />
            <span asp-validation-for="LanguageName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        @*<div class="form-group">
        <label asp-for="CoverImageUrl" class="control-label"></label>
        <input asp-for="CoverImageUrl" class="form-control" disabled />
        <span asp-validation-for="CoverImageUrl" class="text-danger"></span>
        </div>*@


        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

@*<div>
    <a asp-action="Index">All Book</a>
</div>*@

